.profile {
  margin: 0 auto;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  width: 250px;
  height: 350px;
  background-color: #fff;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

.avatar {
  width: 100px;
  height: 100px;
  margin-top: 20px;
  border-radius: 50%;
}

.name {
  font-weight: bold;
  font-size: 18px;
}

.tag {
  color: darkgray;
  font-weight: 500;
}

.location {
  color: darkgray;
  font-weight: 500;
}

.stats {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.stats > li {
  flex-basis: 33.33%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 70px;
  border: 1px solid #f0e6e6;
  background-color: #fcfafa;
}

.label {
  font-size: 14px;
  color: darkgray;
}

.quantity {
  font-weight: bold;
}
