.item {
  display: flex;
  align-items: center;
  width: 300px;
  height: 100px;
  background-color: #fff;
  border-radius: 5px;
  list-style: none;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.status {
  margin-right: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.online {
  composes: status;
  background-color: green;
}

.offline {
  composes: status;
  background-color: red;
}

.avatar {
  border-radius: 10px;
  margin: 0px 10px 0px 0px;
}

.name {
  font-weight: bold;
  font-size: 18px;
}
